h1{
  text-align: center;
}
.el{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
  
}
.ol{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
}
.ul{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
}
.al{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
}
.lt{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
}
.uy{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
}
.op{
      width: 350px;
      height: 300px;
      background-color: rgb(255, 0, 0)
}
.lp{
      width: 350px;
      height: 300px;
      background-color: rgb(240, 0, 0)
}